.GenreWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Genre {
  text-transform: uppercase;
  padding: initial ;
  border: none;
  color: #fff;
  margin: 0;
  height: initial;
  font-size: 15px;
  font-weight: normal;
  line-height: initial;
}
.Genre {
  font-size: 16px;
}
.Genre:hover, .Genre.active {
  color:#f65261;
}