.MovieDetails.HeroImage {
  height: 500px;
}
.MovieDetails .header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.SearchMovie {
  transform: scaleX(-1);
  cursor: pointer;
}
.MovieDetails {
  display: flex;
  height: calc(100% - 5.5em);
  padding: 1em 0;
  overflow: hidden;
}
.MovieDetails .MovieInfo {
  padding: 1em 2em;
}
.MovieDetails .MovieInfo .MovieTitle {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.MovieDetails .MovieInfo .MovieGenres {
  font-size: 14px;
  color: #7d7d7d;
  margin-bottom: 0.6em;
}
.MovieDetails .ReleaseYear {
  margin-right: 1em;
}
.MovieDetails .MovieRuntime,
.MovieDetails .ReleaseYear {
  color: #f65261;
  font-size: 24px;
}