.MovieListWrapper {
  background-color: #232323;
  margin-top: 0.8em;
  padding: 0.7em 2em;
}
.active {
  color: #f56261
}
.ResultController {
  margin-bottom: 1em;
}
.NoMovieFound h2 {
  text-align: center;
}
.MovieList {
  display: flex;
  flex-wrap: wrap;
  _justify-content: space-evenly;
}
.Movie {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  _margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}
.Movie .Poster img {
  max-width: 100%;
  width: 100%;
}

.Movie .Info h5 {
  font-size: 18px;
  margin-bottom: 1rem;
}
.Movie .Info .MovieGenres {
  font-size: 12px;
  color: #909090;
}
.Movie .Info h5 span {
  float: right;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 1px 12px;
  line-height: initial;
}