.SortByWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SortByWrapper label {
  color: #555;
  margin-right: .5em;
  margin-bottom: 0;
}
.SortByWrapper select {
  width: 101px;
  background-color: #232323;
  margin-left: .5em;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  height: initial;
}
.SortByWrapper select:focus {
  border: none;
}
