
.FindMovieWrapper .header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.FindMovieWrapper .header .Logo {
  _position: absolute;
  top: 5px;
  left: 0;
}
.FindMovieWrapper .header button.AddMovie {
  _position: absolute;
  top: 10px;
  right: 0;
}
button.AddMovie,  button.AddMovie:hover,  button.AddMovie:focus {
  font-size: 15px;
  background-color: rgba(66,66,66, 0.85);
  border-color: rgba(66,66,66, 0.85);
  color: #F65261;
  padding: .5em 1em;
  line-height: 11px;
  letter-spacing: initial;
  border-radius: 3px;
}
.FindMovieForm {
  padding: 0.5em 1em;
  width: 90%;
  margin: 0 auto;
}
.FindMovieForm .search {
  font-size: 15px;
  height: 48px;
}
.FindMovieForm .searchfield,
.FindMovieForm .searchfield:focus {
  background-color: rgba(35,35,35, 0.85);
  border-color: rgba(35,35,35, 0.85);
  height: 48px;
}


