footer {
  text-align: center;
  background-color: #424242;
  margin-bottom: 2em;
  padding: 0.5em;
}
.Confirm {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Confirm button {
  align-self: flex-end;
}
.Modal.ConfirmModal .ModalContent {
  height: 30vh;
  padding: 4em;
}
.Modal.MovieFormModal {
  min-height: 75vh;
}
.container.PageContent {
  padding-top: 3em;
}