body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf');
  font-weight: normal;
  font-style: normal;
}