.HeroImage {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.HeroContent {
  width: 100%;
  height: 100%;
  padding: 0.2em 2.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}