.PageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #232323;
  height: 600px;
  position: relative;
}
.PageNotFoundLogo {
  position: absolute;
  top: 10px;
  left: 20px;
}
.PageNotFoundHeader {
  font-size: 3rem;
}
.BackToHome {
  color: #f65261;
  text-decoration: none;
  border: 1px solid #f65261;
  padding: 5px 15px;
  border-radius: 4px;
}
.BackToHome:hover {
  background-color: #f65261;
  color: #fff;
}